{% extends "base.html" %}
{% block content %}
<script>
    let wsEndpoint = "{{ ws_endpoint }}";
</script>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <dic class="row">
            &nbsp;
        </dic>
        <div class="row">
            <div class="col-12">
                <div class="chat-area">
                    <!-- chatlist -->
                    <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="chat-header">
                                    <div class="msg-search">
                                        <input type="text" class="form-control" id="actionAddContactInput"
                                               placeholder="Search" aria-label="search">
                                        <a class="add" href="#"><i id="actionAddContactTrigger" class="fa-solid fa-plus"></i></a>
                                    </div>

                                </div>

                                <div class="modal-body">
                                    <!-- chat-list -->
                                    <div class="chat-lists">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Open" role="tabpanel"
                                                 aria-labelledby="Open-tab">
                                                <!-- chat-list -->
                                                <div id="listChats" class="chat-list">

                                                </div>
                                                <!-- chat-list -->
                                            </div>

                                        </div>

                                    </div>
                                    <!-- chat-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatlist -->


                    <!-- chatbox -->
                    <div id="chat" class="chatbox">
                        <div class="modal-dialog-scrollable">
                            <div id="chatContentDiv" class="modal-content">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- chatbox -->


            </div>
        </div>
    </div>
    </div>
</section>
<script src="{{ url_for('static', filename='chats.js') }}"></script>
{% endblock %}
