{% extends "base.html" %}
{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <dic class="row">
            &nbsp;
        </dic>
        <div class="row">
            <div class="col-12">
                <div class="chat-area">
                    <!-- chatlist -->
                    <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="chat-header">
                                    <div class="msg-search">
                                        <input type="text" class="form-control" id="actionAddContactInput"
                                               placeholder="Search" aria-label="search">
                                        <a class="add" href="#"><i id="actionAddContactTrigger" class="fa-solid fa-plus"></i></a>
                                    </div>

                                </div>

                                <div class="modal-body">
                                    <!-- chat-list -->
                                    <div class="chat-lists">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Open" role="tabpanel"
                                                 aria-labelledby="Open-tab">
                                                <!-- chat-list -->
                                                <div id="listChats" class="chat-list">

                                                </div>
                                                <!-- chat-list -->
                                            </div>

                                        </div>

                                    </div>
                                    <!-- chat-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatlist -->


                    <!-- chatbox -->
                    <div id="chat" class="chatbox">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="msg-head">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img class="img-fluid"
                                                         src="{{ url_for('static', filename='images/user.png') }}"
                                                         alt="user img">
                                                </div>
                                                <div id="chatContactText" class="flex-grow-1 ms-3">
                                                    <h3>Pasha Celluloid</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <ul class="moreoption">
                                                <li class="navbar nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                                       data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-body">
                                    <div class="msg-body">
                                        <ul>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:06 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:16 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes!</p>
                                                <span class="time">10:20 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:26 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:32 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>How are you?</p>
                                                <span class="time">10:35 am</span>
                                            </li>
                                            <li>
                                                <div class="divider">
                                                    <h6>Today</h6>
                                                </div>
                                            </li>

                                            <li class="repaly">
                                                <p> yes, tell me</p>
                                                <span class="time">10:36 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes... on it</p>
                                                <span class="time">just now</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                                <div class="send-box">
                                    <form action="">
                                        <input type="text" class="form-control" aria-label="message…"
                                               placeholder="Write message…">

                                        <button type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                                        </button>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chatbox -->


            </div>
        </div>
    </div>
    </div>
</section>
<script src="{{ url_for('static', filename='chats.js') }}"></script>
{% endblock %}
